/** 

 Color Palette

**/
$primary-base: #5956CC;
$secondary-base: #FFFFFF;

$violet-100: #A9A6FA;
$violet-200: #7471E5;
$violet-300: #5956CC;
$violet-400: #3C39B0;
$violet-500: #201D8D;
$violet-600: #272570;
$violet-700: #02004F;


$gray-100: #FFFFFF;
$gray-200: #EEEDED;
$gray-300: #CBCBCB;
$gray-400: #9F9F9F;
$gray-500: #787878;
$gray-600: #585858;
$gray-700: #000000;

/**

Padding, Margin and Column Gap

**/

$v-padding: 10px;
$h-padding: 10px;
$column-gap: 20px;


